@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 67% 94%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 210 50% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 60% 90%;
    --secondary-foreground: 210 50% 30%;
    --muted: 210 60% 90%;
    --muted-foreground: 210 40% 46%;
    --accent: 23 61% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 86%;
    --input: 210 40% 86%;
    --ring: 210 50% 60%;
    --radius: 0.8rem;

    --chart-1: 210 50% 60%;
    --chart-2: 160 60% 45%;
    --chart-3: 23 61% 61%;
    --chart-4: 210 70% 80%;
    --chart-5: 240 50% 60%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 50% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 23 61% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 210 50% 60%;

    --chart-1: 210 50% 60%;
    --chart-2: 160 70% 50%;
    --chart-3: 23 80% 65%;
    --chart-4: 210 70% 80%;
    --chart-5: 240 60% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
